@import url('https://fonts.googleapis.com/css?family=Varela+Round');


/*p {
  margin: 0px;
  word-break: break-word;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}
h3 {
  margin: 0px;
  word-break: break-word;
  font-family: 'varela round', sans-serif;
  text-align: center;
}

.prices {
  background: #DACCB2;
  width: 100%;
  color: #333E48;
  padding-bottom: 20px;
  padding-top: 20px;
}*/

.container {}

.container h2 {

}