/*@font-face {
  font-family: Orator;
  src: url('../../fonts/OratorSTD.ttf') format ("opentype");
} */
  
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700,800,900');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url("../../font-awesome/css/font-awesome.css");
@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');



.background-img {
  background-image: url("../../media/backgroundsmall.jpeg");
  height: 85vh;
  background-size: cover;
}

p {
  
}

.text-pad-p {
  margin: 0px;
  word-break: break-word;
  /*font-family: 'Oxygen Mono', monospace;*/
  font-family: 'Cutive Mono', monospace;
  text-align: center;
  font-size: larger;
}

.textFix {
  text-decoration: none;
  padding: 20px;
  word-break: break-word;
  color: #DACCB2;
}

h2 {
  margin: 0px;
  text-align: center;
}
h3 {
  margin: 0px;
  word-break: break-word;
  /*font-family: 'Oxygen Mono', monospace;*/
  font-family: 'Cutive Mono', monospace;
  text-align: center;
}
.waypoint {
  /*font-family: 'Oxygen Mono', monospace;*/
  font-family: 'Cutive Mono', monospace;
  padding: 10px;
  font-size: larger;
}
.prices {
  background: #DACCB2;
  width: 100%;
  color: #333E48;
  padding-bottom: 20px;
  padding-top: 20px;
}
.text-pad {
  padding-top: 10px;
}

.hours {
  background: #333E48;
  width: 100%;
  height: 235px;
  color: #DACCB2;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  
}

.barbers {
  background: #DACCB2;
  width: 100%;
  height: 400px;
  color: #333E48;
}

.barber-caro {
  height: 400px;
  width: 100%;
}

.bookingButtonBack {
    background-color: black;
    opacity: .4;
    
}
.bookingButton {
  width: 200px;
  height: 50px;
  color: #DACCB2;
  position: absolute;
  top: 72%;
  left: 50%;
  border-color: #DACCB2;
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookingButton:hover {
  font-size: 105%;

}

.contact {
  background: #333E48;
  width: 100%;
  color: #DACCB2;
  padding-bottom: 20px;
  position: relative;
  font-family: 'Oxygen Mono', monospace;
}

.contactLinks {
  justify-content: space-around;
  display: flex;
  padding-top: 10px;
}

.icons {
  color: #DACCB2;
  padding: 20px;
}

.framer {
  max-width: 90vw;
}

.following {
  padding-top: 20px;
}


@media only screen and (max-width: 365px) {
    
    .waypoint {
      font-size: large;
    }
}
@media only screen and (max-width: 330px) {
    .text-pad-p {
      font-size: medium;
    }
    .waypoint {
      font-size: medium;
    }
}

@media only screen and (min-width: 500px) {
    .background-img-big {
        background-image: url("../../media/zion-map.jpg");
        background-size: cover;
    }
    .mainCont {
        padding-left: 15vw;
        padding-right: 15vw;
        background: white;
        box-shadow: 10px 10px 5px grey;
    }
    .prices {
        background: #DACCB2;
        width: 50%;
        height: 285px;
        color: #333E48;
        padding-bottom: 20px;
        padding-top: 20px;
        float: left
}
    .hours {
        background: #333E48;
        width: 50%;
        height: 285px;
        color: #DACCB2;
        padding-bottom: 20px;
        padding-top: 20px;
        position: relative;
        float: left;
}
    .barbers {
      background: #DACCB2;
      width: 100%;
      height: 400px;
      color: #333E48;
    }

    .barber-caro {
      height: 400px;
      width: 100%;
      clear: both;
    }
    .following {
      padding-top: 20px;
      margin-left: 10%;
      margin-right: 10%;
}
    .contactLinks {
      justify-content: space-around;
      display: flex;
      padding-top: 10px;
      margin-left: 20%;
      margin-right: 20%;
}
    .slick-slider {
      /*float: left;*/
    }
}