@import url("../../font-awesome/css/font-awesome.css");
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.logo {
  height: 145px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.header {
  height: 100px;
  width: 100%;
  background-color:#AAAD9C;
}

.menu-icon {
  color: #5E5841;
  float: right;
  padding: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.menu {
  justify-content: left;
  width: 80vw;
  background: #daccb2;
  padding: 10px;
  padding-top: 75px;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, .7);
}
.menu-text {
  font-size: 30px;
  color: #5E5841;
  padding: 5px;
  text-align: right;
  display: block;
}

/*.background-open-menu {
  background-color: rgba(0, 0, 0, .6);
  height: 100%;
  width: 100vw;
  position: absolute;
}*/


@media only screen and (min-width: 420px) {
    .menu {
      width: 30vw;
    }
}